<section class= "home-container">
    <div class="home-main">
        <div class="home-hero">
            <div class="home-copy">
                <div class="home-copy__head">
                    Simple Business Model Mapping for Innovative StartUps
                </div>
                <div class="home-copy__body">
                    Business Model Mapper aligns your new business with best in class business modeling processes. 
                    Create viable business ideas and implementation strategies quickly and easily.
                </div>
                <div class="home-copy__links">
                    <div class="sign-up-btn">
                        SIGN UP
                    </div>
                    <div class="more-info-btn">
                        MORE INFO
                    </div>
                </div>
            </div>
            <div class="home-image">
                <%= image_tag("screenshot_map.png", :alt => "map_imag", class: "home-image__map") %>
            </div>
        </div>
    </div>

</section>
