<section class= "home-container">
    <div class="home-main">
        <div class="home-hero">
            <div class="home-copy">
                <div class="home-copy__head">
                    Simple Business Model Mapping for Innovative StartUps
                </div>
                <div class="home-copy__body">
                    Heap automatically captures every web, mobile, and cloud interaction: clicks, 
                    submits, transactions, emails, and more. Retroactively analyze your data without writing code.
                </div>
                <div class="home-copy__links">
                    <div class="sign-up-btn">
                        SIGN UP
                    </div>
                    <div class="more-info-btn">
                        MORE INFO
                    </div>
                </div>
            </div>
            <div class="home-image">
                <%= image_tag("screenshot_map.png", :alt => "map_imag", class: "home-image__map") %>
            </div>
        </div>
    </div>

</section>