<section class= "universal-container" id= "universal-content" >
    <div class="universal-pagetitle">
        Your Business Model(s) 
    </div>

    <div class="universal-form" id= "universal-content_form">
        <ol>
        <% @businesses.each do |b| %>
            
                <li>
                    <%= link_to b.name, business_path(b) %> - <%= link_to 'Edit', edit_business_path(b) %>
                </li>
            
        <% end %>
        </ol>
        <div class="link-align">
            <%= button_to ' New Business', new_business_path, method: :get, class: 'sub-btn'%>
        </div> 
    </div>
     

</section>

