/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 :root {
   --color-red: #eb2f64;
   --color-red-light: #ff3366;
   --color-red-light-2: #E91E63;
   --color-red-dark: #ba265d;

   --color-black: #000;
   --color-white: #fff;
   --color-grey-light-1: #faf9f9;
   --color-grey-light-2: #f4f2f2;
   --color-grey-light-3: #ccc;

   --color-grey-dark-1: #333;
   --color-grey-dark-2: #777;
   --color-grey-dark-3: #999;

  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3)

  --color-purple-dark-1: #222244; //sidebar
  --color-purple-dark-2: #1E1E3F; //sidebar
  --color-purple-dark-3: #28284E; //selected
  --color-purple-dark-4: #292952; //border

  --color-purple-mid-1: #292952; //background main
  --color-purple-mid-2: #2D2B55; //background main
  --color-purple-mid-3: #45426E; //background main
  --color-purple-mid-4: #57547c; //background main



  --color-purple-light-1: #A599E9; //text
  
  --color-purple-light-2: #892e78; //highlight text
  --color-purple-light-3: #615F89; //highlight text
  --color-purple-light-4: #B362FF; //highlight text
 
  --color-amber-light-1: #FAD000; //highlight
}

a {
   color: var(--color-red-light);
   text-decoration: none;
}

.container {
   display: grid;
   grid-template-rows: min-content repeat(2, min-content);
   grid-template-columns: [full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 14rem)[col-end]) [center-end] 1fr [full-end sidebar-start] minmax(5rem, 50rem) [sidebar-end];

   max-width: 120rem;
   // margin: 8rem auto;
   // background-color: var(--color-grey-light-2);
   box-shadow: var(--shadow-dark);
   min-height: 50rem;

   font-family: arial, verdana, tahoma;
}

.header {
   grid-column: full-start/ sidebar-end;
   display: flex;
   justify-content: space-between;
   align-items: center;

   font-size: 1.4rem;
   // height: 7rem;
   background-color: var(--color-purple-mid-3);
   border-bottom: var(--color-grey-light-3);
   padding: 0.6rem 0.6rem;
}

// .content {

// }

.sidebar {
   padding: 2.8rem;
   background-color: var(--color-purple-mid-1);
   grid-column: sidebar-start/ sidebar-end;
   border-left: 1px var(--color-purple-mid-3) solid;
   grid-row: 2/ -1;
   font-size: 14px;
   color: var(--color-grey-light-3);
}

.map {
   background-color: var(--color-purple-mid-2);
   grid-column: full-start/ center-end;
   // padding: 0.5rem;
}

.footer {
   background-color: var(--color-purple-mid-1);
   grid-column: full-start/ full-end;
}

.home-container {
   background: rgb(45,43,85);
   background: linear-gradient(153deg, rgba(45,43,85,1) 0%, rgba(69,66,110,1) 50%, rgba(186,38,93,1) 100%);
}

.home-main {
   display: flex;
   height: 600px;
   justify-content: center;
   padding: 6rem  
}

.home-hero {
   display: flex;
}

.home-copy {
   display: flex;
   flex-direction: column;
   max-width: 700px;
   
   &__head {
      font-size: 46px;
      color: #fff;
   }
   &__body {
      padding-top: 2rem;
      font-size: 20px;
      color: var(--color-grey-light-3);
   }
   &__links {
      display: flex;
      margin-top: 50px;
   }
}


.sign-up-btn {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 20px;
   width: 200px;
   height: 50px;
   border-radius: 100px;
   color: #fff;
   border: 2px solid var(--color-red-light);
   background-image: linear-gradient(to right, #2d2b55, #57316c, #892e78, #bc2474, #e91e63);
}

.more-info-btn{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 20px;
   width: 200px;
   height: 50px;
   border-radius: 100px;
   color: #fff;
   border: 2px solid var(--color-red-light);
}

.home-image {
   &__map {
      height: 300px;
      width: 515px;
      -webkit-box-shadow: 0px 0px 15px 5px rgba(196,196,196,0.35); 
      box-shadow: 0px 0px 15px 5px rgba(196,196,196,0.35);
   }
}

/////// Logo
.logo {
   display: flex;
   align-items: center;

   &__image {
      display: flex;
      align-items: center;
      height: 2rem;
      width: 2rem;
      margin-left: 2rem;
      text-align: center;
      border-radius: 5px;
      padding: 0.3rem;
      background-image: linear-gradient(to right, #2d2b55, #57316c, #892e78, #bc2474, #e91e63);
      fill: #fff;
   }

   &__text{
      display: flex;
      align-items: center;
      color: var(--color-grey-light-3);
      font-size: 18px;
      height: 3.25rem;
      text-align: center;
      margin-right: 5rem;
      margin-left: 1rem;
   }
}

/////// Search

.search {

   flex: 0 0 40%;

   display: flex;
   align-items: center;
   justify-content: center;

   &__input {
  
      font-size: 1.1rem;
      background-color: var(--color-purple-mid-3);
      border-color: #615F89;
      padding: .7rem 2rem;
      border-radius: 30px;
      width: 80%;
      transition: all .2s;
      margin-right: -3.25rem;

      &:focus {
         outline: none;
         width: 100%;
         background-color: var(--color-grey-light-3)
      }

      &::-webkit-input-placeholder{
         font-weight: 100;
         font-size: 15px;
         color: var(--color-grey-light-3)
      }
   }

   &__input:focus + &__button {
      background-color: var(--color-grey-light-3)
   }

   &__button {
      border: none;
      background-color: var(--color-purple-mid-3);
      transition: all .2s;
      border-radius: 100%;

      &:focus {
         outline:  none;
      }

      &:active {
         transform: translateY(2px);
      }

      
   }

   &__icon {
      height: 2rem;
      width: 2rem;
      fill: var(--color-purple-light-3)
   }
}


/////// User Nav

.user-nav {
   display: flex;
   align-self: stretch;

   & > * {
      padding: 0 2rem;
      cursor: pointer;
      height: 100%;
      display: flex;
      align-items: center
   }

   

   &__icon-box {
      & > *:hover {
         background-color: var(--color-purple-mid-2);
      }
      &__icon {
         padding: 0.9rem;
         border: 1px solid var(--color-purple-light-3);
         border-radius: 50px;
         fill: var(--color-purple-light-3);
      }
   }

   &__icon {
      height: 2.25rem;
      width: 2.25rem;
   }


   &__user__icon {
      &:hover {
         background-color: var(--color-purple-mid-2);
      }
      padding: 0.6rem;
      border: 1px solid var(--color-purple-light-3);
      border-radius: 50px;
      fill: var(--color-purple-light-3);
      

   }

   &__user-photo{
      height: 3.75rem;
      border-radius: 50%;
      // margin-right: 1rem;
      border: 1px solid red;
      
   }

   &__user-name {
      margin-left: 10px;
      font-size: 0.9rem;
      color: var(--color-grey-light-3);
   }

}


.config-box {
   display: flex;

   &__icon {
      height: 2rem;
      width: 2rem;
      fill: var(--color-purple-light-3);
   }


}

///// Map

// #2d2b55, #57316c, #892e78, #bc2474, #e91e63;

.map-container {
   padding-top: 3rem;
}
   

.business-box {
   margin: auto;
   @extend .sg-box;

   &__head {
      @extend .sg-box__head;

      &__content {
         @extend .sg-box__head__content;
      }
   }
   &__description {
      @extend .sg-box__description;
   }
}

.sg-box {
   display: flex;
   flex-direction: column;
   max-width: 15rem;
   border: 1px solid var(--color-purple-light-2);
	// padding: 5px 10px;
	text-decoration: none;
	
	font-family: arial, verdana, tahoma;
	font-size: 0.9rem;
	
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
   -moz-transition: all 0.5s;
   
   &__head {
      display: flex;
      align-items: center;
      padding: 0.2rem;
      border-bottom: 1px solid var(--color-purple-light-2);
      margin-bottom: 0.5rem;

      &__content {
         color: var(--color-purple-light-1);
         flex-grow: 2;
         margin-right: auto;
         border: none;
      }
   }
   &__description {
      color: #fff;
      padding: 0.2rem;
   }
}

.project-box{
   @extend .sg-box;
   &__head{
      @extend .sg-box__head;
      &__content {
         @extend .sg-box__head__content
      }
   }
   &__body{
      display: flex;
      flex-direction: column;
      
      color: #fff;
      &-title {
         color: #fff;
         padding-bottom: 5px;
      }
      &-items {
         color: #fff;
         padding: 0.4rem;
         &__total {
            border-top: 1px solid var(--color-purple-light-2);
            padding: 0.2rem;
         }
      }
      

   }
}

.create-link {
  
   flex-direction: row;
   display: flex;
   width: 7rem;
   border-radius: 150px;
   align-items: center;
   justify-content: center;
   text-decoration: none;
	color: var(--color-purple-light-1);
	font-family: arial, verdana, tahoma;
   font-size: 0.9rem;
   border: 1px solid var(--color-purple-light-2);
}
   

.icon-link {
   width: 1rem;
   height: 1rem;
   fill: var(--color-red-light);
}

.tree {
   display: flex;
   justify-content: center
}

.tree ul {
	padding-top: 20px; position: relative;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.tree li {
   float: left;
   text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 5px 0 5px;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before, .tree li::after{
	content: '';
	position: absolute; top: 0; right: 50%;
	border-top: 1px solid var(--color-purple-light-2);
	width: 50%; height: 20px;
}
.tree li::after{
	right: auto; left: 50%;
	border-left: 1px solid var(--color-purple-light-2);
}

/*We need to remove left-right connectors from elements without 
any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
	display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child{ padding-top: 0;}

/*Remove left connector from first child and 
right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after{
	border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before{
	border-right: 1px solid var(--color-purple-light-2);
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after{
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before{
	content: '';
	position: absolute; top: 0; left: 50%;
	border-left: 1px solid var(--color-purple-light-2);
	width: 0; height: 20px;
}

.tree li a{
	// border: 1px solid #ccc;
	// padding: 2px 2px;
	text-decoration: none;
	color: #666;
	font-family: arial, verdana, tahoma;
	font-size: 11px;
	display: inline-block;
	
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree li div:hover, .tree li div:hover+ul li div {
   background: var(--color-purple-mid-1);
   color: var(--color-amber-light-1) 
   // border: 1px solid #94a0b4;
}
/*Connector styles on hover*/
// .tree li a:hover+ul li::after, 
// .tree li a:hover+ul li::before, 
// .tree li a:hover+ul::before, 
// .tree li a:hover+ul ul::before{
	// border-color:  #94a0b4;
// }


/////// Projects 

.universal-container {
   padding: 2rem;
   background-color: var(--color-purple-mid-2);
}

.universal-pagetitle {
   padding-bottom: 1rem;
   color: var(--color-grey-light-3)
}

.universal-form {
   padding: 2rem;
   background-color: var(--color-purple-mid-2);
   color: var(--color-purple-light-1);
   -webkit-box-shadow: 0px 0px 13px 8px rgba(86,85,118,0.17);
   -moz-box-shadow: 0px 0px 13px 8px rgba(86,85,118,0.17);
   box-shadow: 0px 0px 13px 8px rgba(86,85,118,0.17);


   &__field{
      display: block;
      // float: left;
      width: 27.33%;
      margin: 40px 3%;
      position: relative;
      border-bottom: 1px solid #615F89;
      &__input {
         border: 0; 
         padding: 4px 0;
         // border-bottom: 1px solid #fff;
         background-color: transparent;
         font-size: 15px;
         color: #fff;
      }
      &__select {
         @extend .universal-form__field__input;
         border-bottom: 1px solid #fff;

      }
   }
   input[type="text"]{font: 15px/24px 'Muli', sans-serif; color: #fff; width: 100%; box-sizing: border-box; letter-spacing: 1px;}
}

.resource-holder {
   display: flex;
   align-items: center
}

.universal-cost {
   display: flex;
}

.costs-container {
   display:inline-flex;
   align-items: flex-start;
   margin-left: 4rem;
   align-content: center;
   border-radius: 50px;
   border: 1px solid var(--color-red-light);
   Color: #fff;
   font-size: 12px;

   &__header {
      align-self: flex-start;
      padding: 0.3rem;
      
   }

   &__body {
      align-self: flex-start;
      padding-left: 10px;
      border-left: 1px solid var(--color-red-light);
      padding: 0.3rem;
   }
}


:focus{outline: none;}

.focus-border{position: absolute; 
   bottom: 0;
   left: 0;
   width: 0;
   height: 2px;
   background-color: var(--color-red-light-2);
   transition: 0.4s;
}

select.universal-form__field__input { 
   border-radius: 0;
   padding: 4px 0px; /* Firefox */
   // height: 50px;  /* Chrome & Safari */
   width: 100%;
   margin-top: 4px;
   margin-bottom: 4px;
	-webkit-border-radius: 0;
   border: 0;
   font-size: 15px;
   color: #ffff;
}

.delete-button {
   width: 15rem;
   margin-top: 10px;
   margin-left: 40px;
}

.submit-button {
   width: 5rem;
   margin-left: 40px;
}

.sub-btn {
   margin-bottom: 1rem;
   width: 12rem;
   border: none;
   background-color: var(--color-purple-mid-3);
   color: #fff;
}

.del-btn {
   @extend .sub-btn;
}

.link-align {
   margin-left: 20px;
   font-size: 14px;
}

a.google-btn {
   margin-left: 40px;
   width: 12rem;
}

google-button {
   height: 35px;
   width: 12rem;
   padding-left: 40px;
   border-width: 0;
   background: white;
   color: #737373;
   border-radius: 5px;
   white-space: nowrap;
   box-shadow: 1px 1px 0px 1px rgba(0,0,0,0.05);
   transition-property: background-color, box-shadow;
   transition-duration: 150ms;
   transition-timing-function: ease-in-out;
   padding: 0;
   
   &:focus,
   &:hover {
     box-shadow: 1px 4px 5px 1px rgba(0,0,0,0.1);
   }
   
   &:active {
     background-color: #e5e5e5;
     box-shadow: none;
     transition-duration: 10ms;
   }
 }
     
 .google-button__icon {
   display: inline-block;
   vertical-align: middle;
   margin: 2px 0 2px 8px;
   width: 18px;
   height: 18px;
   box-sizing: border-box;
 }
 
 .google-button__text {
   display: inline-block;
   vertical-align: middle;
   padding: 0 10px;
   font-size: 14px;
   font-weight: bold;
   font-family: 'Roboto',arial,sans-serif;
 }
 
.universal-form__field__input:focus ~ .focus-border,
.has-content.universal-form__field__input~ .focus-border{width: 100%; transition: 0.4s;}
.universal-form__field__input ~ label{position: absolute; left: 0; width: 100%; top: 9px; color: #aaa; transition: 0.3s; z-index: -1; letter-spacing: 0.5px;}
.universal-form__field__input:focus ~ label,
.has-content.universal-form__field__input ~ label{top: -16px; font-size: 12px; color: #4caf50; transition: 0.3s;}
